@charset "UTF-8";
/*CSS Document admin Johan*/

body  {
    background : #111111;
}

/*DEBUT DE LA NAV*/
.navbar {
    background:#232323;
    border-radius: 0;
}
.navbar-default {
        border-color: #232323;
}
.navbar-default .navbar-brand{
    color : #9C9C9C;

}

.navbar-default .navbar-brand:hover{
    color : #FFFFFF;
}
.navbar-default .navbar-nav>li>a  {
    color : #9C9C9C;
}
.navbar-default .navbar-nav>li>a:hover  {
    color : #FF0B00;
    transition : 0.5s ease-in;

}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color : #FF0B00;
    background:#232323;
    border-color: #232323;
}
.dropdown-menu {
    color : #9C9C9C;
    background:#232323;
}
.dropdown-menu>li>a {
    font-weight: bold;
    color: #BFBFBF;
}
.dropdown-menu>li>a:hover {
    color: #BFBFBF;
    transition : 0.5s ease-in-out;
    background:#5D5D5D;
}
/*FIN DE LA NAV*/

/*Formulaire de connexion*/

.formConnect {
    background: #F5F5F5;
}
.supr {
    width: 50px;
}
.modif {
    width: 50px;
}
