@charset "UTF-8";
/*CSS Document admin Johan*/


/*DEBUT DE LA NAV*/
.navbar {
    /*background: #840404;*/
    border-radius: 0;
}
/*FIN DE LA NAV*/
.supr {
    width: 50px;
}
.modif {
    width: 50px;
}
#grostitre{
   background-image: url(../../img/light.webp);
   background-size: cover;
   color: transparent;
   -moz-background-clip: text;
   -webkit-background-clip: text;
   text-transform: uppercase;
   line-height: 70px;
   margin: 10px 0;
}
.hoover-comment:hover {
    text-decoration: none;
    color : white;
    background : rgba(225, 22, 30 , 0.8);
    transition : .5s ease-in-out;
}
#supr-comment {
    text-decoration: none;
}
